.banner-page {
  background-image: url('../images/edvin.jpg');
  background-size: cover;
  background-position: 10% 35%;

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  height: 100%;
  padding: 5%;
  flex-direction: column;

  .title {
    font-size: 3rem;
  }

  .break-xs {
    word-spacing: 500px;
    word-break: break-word;
  }
}
